# Auto detect text files and perform LF normalization
* text=auto

###############################################################################
*.aul2 text eol=lf linguist-language=ini working-tree-encoding=utf8
